name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: bash /home/m4rz0/DevOps/self/CI-CDI/scripts/build.sh

    - name: Test
      run: bash /home/m4rz0/DevOps/self/CI-CDI/scripts/test.sh

    - name: Deploy
      run: bash /home/m4rz0/DevOps/self/CI-CDI/scripts/deploy.sh
